<div class="banner-container">
  <div class="inner-container">
    <div class="inner-container-text" id="inner-container-text-id"> Floyd Santos</div>
    <div id="webdev" class="webdev" onscroll="scroll()">Web Developer</div>
    <q class="qoute">Work hard, Work fast, then Work smart.</q>
  </div>
</div>