<div class="contact-outer-cont">
  <div class="contact-inner-cont">
     <div class="contact-banner">CONTACT ME</div>
     <span class="anchor2" id="contact-section"></span>
      <form method="POST" action="https://formspree.io/mgevvkql" class="contact-container">
        <div class="contact-name">
          <p>Name: </p>
          <input type="text" name="contactname" id="contactname" class="contactname" required>
        </div>
        <div class="contact-email">
          <p>Email: </p>
          <input type="email" name="contactemail" id="contactemail" class="contactemail" required>
        </div>
        <div class="contact-message">
          <p>Message: </p>
          <textarea name="contactmessage" id="contactmessage" class="contactmessage" cols="30" rows="5" required></textarea>
        </div>
        <button type="submit" class="contact-submit">Submit</button>
      </form>
  </div>
</div>