<footer class="footer">
  <div class="footer-inner-cont">
    <div class="footer-name">Floyd Santos</div>
    <ul class="footer-social">
      
      <% pginfo.footerlinks.forEach(function(ftrlnk){ %>
        <li class="footer-social"> <a href="<%= ftrlnk.links %>"><i class="<%= ftrlnk.class %>"></i></a></li>
      <% }) %>
    </ul>
    <div class="copyright">Copyright 2020</div>
  </div>
</footer>