<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='icon' href='/images/logo/favicon.ico' type='image/x-icon'/ >
  <title><%= pginfo.title %></title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/blogpost.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>

  <script src="https://kit.fontawesome.com/8092725ea1.js" crossorigin="anonymous"></script>
</head>