<header>
  <nav>
    <div class="nav-full-cont" id="nav-full-cont">
      <div class="nav-container">
        <div class="pg-logo">
          <a class="pg-logo-link" href="<%= pginfo.link %>"> <img class="logo" src="/images/logo/logo.png" alt="logo"></a>
        </div>
        <div class="nav-list-cont">
          <div class="nav-list-ham" id="nav-list-ham-id">
            <ul class="nav-list">
              <li> <a href="/" id="navlink">Overview</a> </li>
              <li> <a href="/#project-section" id="navlink">Projects</a> </li>  
              <li> <a href="/#contact-section" id="navlink">Contact Me</a> </li>
              <li> <a href="/blogs" id="navlink">Blogs</a> </li>
            </ul>
          </div>
          <div id="burger"  class="hamburger"><i class="fas fa-bars"></i></div>
        </div>
      </div>
    </div>
  </nav>
</header>