<div class="project-outer-cont">
  <div class="project-inner-cont">
    <div class="top-banner-projects" id="top-banner-projects">Projects</div>
    <span class="anchor" id="project-section"></span>
      <div class="projects-flex">
        <% pginfo.projects.forEach(function(iter){ %>
        <div class="project-box">
          <div class="project-preview"><img src="<%= iter.photo %>" alt="dsfsd" srcset="asdsad"></iframe></div>
          <div class="project-name">
            <div class="projdescflx">
              <a href="<%= iter.url %>" class="projlk"><h2><%= iter.title %></h2></a> 
              <p><%= iter.description %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>