<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="post-outer-cont">
        <div class="post-inner-cont">
          <div class="post-container" id="post-container">
              <div class="blog-inner-container-text"><%= blogpost.title%> </div>
              <div id="subtitle" class="subtitle"><%= blogpost.date %></div>
            <p class="invitext" id="invitext"><%= blogcont %></p>
            <div ng-app="myApp" ng-controller="MyCtrl">
            <p class="post-content ng-binding" id="post-content" ng-bind-html="myHTML">  </p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>