<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/admin.css">
  <title>Document</title>
</head>
<body>
  <div class="admin-container">
    <form method="POST" class="adminform">
      <div class="passworddiv">
        <p>password: </p>
        <input type="password" name="password" id="password" class="password">
      </div>
      <input type="submit" class="password-submit" formaction="success" value="LOGIN">
    </form>
  </div>
</body>
</html>