<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="admin-container">
    <form action="/admin">
      <div class="username">
        <p>username: </p>
        <input type="text" name="contactname" id="contactname" class="contactname">
      </div>
      <div class="password">
        <p>password: </p>
        <input type="password" name="contactemail" id="contactemail" class="contactemail">
      </div>
      <button type="submit" class="contact-submit">Submit</button>
    </form>
  </div>
</body>
</html>