<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/transitions.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8092725ea1.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
    <div class="nav-full-cont">
      <div class="nav-container">
        <div class="pg-logo">
          <a class="pg-logo-link" href="<%= link %>"> <img class="logo" src="/images/logo/logo.png" alt="logo"></a>
        </div>
        <div class="nav-list-cont">
          <div class="nav-list-ham" id="nav-list-ham-id">
            <ul class="nav-list">
              <li>About</li>
              <li>Projects</li>
              <li>Contact Me</li>
              <li>Blogs</li>
            </ul>
          </div>
          <div class="hamburger">X</div>
        </div>
      </div>
    </div>
  </nav>
  </header>
  <div class="banner-container">
    <div class="inner-container">
      <div class="inner-container-text" id="inner-container-text-id">Floyd Santos</div>
      <div id="webdev" class="webdev">Web Developer</div>
      <q>Work hard, Work fast, then Work smart.</q>
    </div>
  </div>
  <div class="skills-outer-cont">
    <div class="skills-inner-cont">
      <div class="top-banner"> SKILLSET</div>
      <div class="skills-flex">
        <div class="skills-logo-desc">
          <div class="skill-logo"><i class="fab fa-node-js"></i></div>
          <div class="skill-description"><p>NodeJS</p></div>
        </div>
        <div class="skills-logo-desc">
          <div class="skill-logo"><i class="fab fa-node-js"></i></div>
          <div class="skill-description"><p>NodeJS</p></div>
        </div>
        <div class="skills-logo-desc">
          <div class="skill-logo"><i class="fab fa-node-js"></i></div>
          <div class="skill-description"><p>NodeJS</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-outer-cont">
    <div class="project-inner-cont">
      <div class="projects-flex">
        <div class="project-box">
          <div class="project-preview"><iframe width="500" height="400" src="https://www.youtube.com/embed/eQsraUIzNJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div class="project-name"> <p></p> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro-outer-cont">
    <div class="intro-inner-cont">
      <div class="intro">
        About
      </div>
      <div class="intro-par">
        A student web developer at SAIT
      </div>
    </div>
  </div>
  <div id="box"></div>
</body>
<script src="js/animations.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/aos.js"></script>
</html>