<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <nav>
    <div class="nav-full-cont">
      <div class="nav-container">
        <div class="pg-logo">
          <a class="pg-logo-link" href="<%= link %>"> <img src="/public/images/logo/Asset 1@3x.png" alt="logo"> </a>
        </div>
        <div class="nav-list-cont">
          <ul class="nav-list">
            <li>About</li>
            <li>Projects</li>
            <li>Contact Me</li>
            <li>Blogs</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  </header>
  <div class="banner-container">
    <div class="inner-container">
      <div class="inner-container-text">Floyd Santos</div>
    </div>
  </div>
</body>
</html>