@import url('./reset.css');
@import url('./fonts.css');

.f-outer-cont{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.f-inner-cont{
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-container{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: white;
  background-color: white;
  padding: 20px;
}
.four{
}
.spann{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
  background-color: darkred;
}