@import url('./reset.css');
@import url('./fonts.css');

.password{
  display: flex;
}
.password > p {
  margin-bottom: 20px;
}
.admin-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminform{
  display: flex;
  flex-direction: column;
  justify-content: center;
}