@import url('./reset.css');
@import url('./fonts.css');



.admin-wrapper{
  display: flex;
  width: 100%;
}


.side-menu{
  width: 300px;
  background-color: black;
  height: 100vh;
}
.logout{
  position: inherit;
  bottom: 0;
  right: 0;
}



.post-outer-cont{
  width: 100%;
}


.passworddiv{
  display: flex;
  margin-bottom: 20px;
}
.adminlogin{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}
.passworddiv > p {
  margin-right: 20px;
}

.adminform{
  background-color: coral;
  height: 200px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}
.password-submit{
  width: 70px;
  position: relative;
  right: -188px;
}
.adminheader{
  margin: auto;
  width: 100%;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 30px;
}
.adminheader > a{
  height: 0px;
}



.post-inner-cont{
  display: flex;
  flex-direction: column;
}
.post-container{
  flex: 30%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.blogpost-outer-container{
  flex: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.addnew{
  width: 400px;

}
.parts-cont{
  display: flex;
  justify-content: space-between;
}
.part1{
  width: 100%;
  padding: 5px;
}
.part2{
  width: 100%;
  padding: 5px;
}
.blogtitle, .blogdate, .blogsumm, .blogslug, .blogid, .oldslug{
  width: 100%;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
}
.blogcontent{
  width: 100%;
  resize: none;
  height: 200px;
  white-space: pre;
  border-radius: 5px;
  border: 2px solid black;
}
.buttonadd{
  margin-top: 15px;
  margin-right: 10px;
  height: 25px;
  width: 60px;
  font-weight: bold;
}
.buttoncont{
  display: flex;
  justify-content: flex-end;
}
legend{
  font-weight: bold;
}
.fieldset{
  border: none;
}


.blogpost-outer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogpost-inner-container{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.blogcontainer{
  margin: 15px;
}
.collection-container{
  width: 60%;
}


.admin-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminform{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modifyblogs{
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .modifyblogs{
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .modifyblogs{
    width: 80%;
  }
}
@media screen and (max-width: 300px) {
  .modifyblogs{
    width: 90%;
  }
}