@import url('./reset.css');
@import url('./fonts.css');

.blog-outer-cont{
  width: 100%;
  display: flex;
  justify-content: center;
}
.blog-inner-cont{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 150px;
}
.blogcontainer{
  width: auto;
  margin: 30px;
}
.blog-date{
  font-size: 20px;
  margin-bottom: 20px;
}
.blog-title{
  font-size: 30px;
  margin-bottom: 15px;
}
.blog-content{
  font-size: 20px;
}

.blog-banner-container{
  width: 100%;
  height: 100vh;
  background-color: black;
}
.blog-banner-inner-container{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-inner-container-text{
  font-family: 'Staatliches', cursive;
  font-size: 70px;
}
.subtitle{
  font-family: 'Staatliches', cursive;
  font-size: 20px;
}