.blog-outer-cont{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.blog-inner-cont{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.blogcontainer{
  width: auto;
  margin: 20px;
}
.blog-date{
  font-size: 20px;
}
.blog-title{
  font-size: 30px;
}
.blog-content{
  font-size: 26px;
}
