.post-outer-cont{
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-inner-cont{
  width: 80%;
}
.post-content{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.post-container{
  white-space: pre-wrap;
  overflow: hidden;
}
.invitext{
  white-space: pre;
  visibility: hidden;
  overflow: scroll;
  height: 1px;
}

.tags{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  word-wrap: wrap;
}
.tags > a {
  margin-left: 10px;
  font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(124, 124, 124);
  color: white;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 5px solid #000000;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}