.post-outer-cont{
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-inner-cont{
  width: 80%;
}
.post-content{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.post-container{
  white-space: pre-line;
}
.invitext{
  white-space: pre-wrap;
  position: absolute;
  visibility: hidden;
  z-index: -92929;
}