@import url('./reset.css');
.nav-container{
  display: flex;
  flex-direction: row;
}
.nav-list{
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.pg-logo{
  flex: 20%;
}
.nav-list-cont{
  flex: 80%;
}