@import url('./reset.css');
@import url('./fonts.css');
.nav-container{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80%;
  background-color: rgb(149, 149, 255);
  font-size: 40px;
}
.nav-full-cont{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(149, 149, 255);
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-list{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
.nav-list > li{
  margin: 10px;
}
.pg-logo{
  flex: 60%;
  margin: auto;
}
.pg-logo-link{
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}
.nav-list-cont{
  flex: 40%;
  font-size: 20px;
}
