@import url('./reset.css');
.nav-container{
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: blue;
}
.nav-list{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}
.pg-logo{
  flex: 50%;
}
.pg-logo-link{
  text-decoration: none;
  color: black;
}
.nav-list-cont{
  flex: 50%;
}