@import url('./reset.css');
@import url('./fonts.css');
.nav-container{
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: blue;
  font-size: 40px;
}
.nav-list{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Work Sans', sans-serif;
}
.pg-logo{
  flex: 50%;
}
.pg-logo-link{
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}
.nav-list-cont{
  flex: 50%;
}