.class2{
  visibility: hidden;
  position: relative;
  left: -400px;
  transition: .3s;
  font-family: 'Staatliches', cursive;
}
.class1{
  visibility: visible;
  left: 0px;
  transition: .3s;
  position: relative;
  font-family: 'Staatliches', cursive;
}
.inner-container-text{
  visibility: hidden;
}